<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berkay Dervişoğlu</title>
    <link rel="stylesheet" href="static/berkay.css" type="text/css">
</head>
<body>
    <div id="navbar">
        <div style="padding: 10px;">                
            <button id="h1but" onclick="redirect('/')">Türkçe Python Öğren</button>
            <button class="navbut" onclick="redirect('/hakkimizda')">Hakkımızda</button>
            <button class="navbut" onclick="redirect('/yardim')">Yardım</button>
            <button class="navbut" onclick="redirect('/blog')">Bloglar</button>
            <button class="navbut" onclick="redirect('/iletisim')">İletişim</button>           
        </div>
    </div>
    <p>
        Yazılıma genel olarak 2019'un Mart Ayı'nda başladım. Esasında okuldaki bir arkadaşım aracılığı ile TÜBİTAK Bilim Olimpiyat sınavına katılmak için C öğrenerek başladım. 2019'un Mayıs Ayı'nda TÜBİTAK sınavına 12 günlük çalışmayla katıldım. Korona'dan kaynaklı karantina sürecinin başlamasıyla birlikte siber güvenlik alanında çeşitli çalışmalar yaptım(TRYHACKME,Htb vb. platformlarda makine çözdüm.) bu süreçte python öğrendim.Devamında da pythonda çeşitli frameworkleri de öğrendim.Amacım sizlere Ali ile birlikte Türkçe kaynak yaratmak ve sizlere olabildiğince kaliteli python eğitimi vermek.Bu sitede klasik python eğitimi veren siteler haricinde çeşitli projeler yaparak da bir python developer olmanızı amaçlıyoruz. 
    </p>
    <script src="static/app.js" type="text/JavaScript"></script>
</body>
</html>