<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="static/hakkimizda.css" type="text/css">
</head>
<body>
    <div id="navbar">
        <div style="padding: 10px;">                
            <button id="h1but" onclick="redirect('/')">Türkçe Python Öğren</button>
            <button class="navbut" onclick="redirect('/hakkimizda')">Hakkımızda</button>
            <button class="navbut" onclick="redirect('/yardim')">Yardım</button>
            <button class="navbut" onclick="redirect('/blog')">Bloglar</button>
            <button class="navbut" onclick="redirect('/iletisim')">İletişim</button>           
        </div>
    </div>
    <div id="aboutus">
        <div class="aboutus">
            <p1 style="font-size:180px;color:rgb(0,150,169);font-family: Arial;">𝙷𝙰𝙺𝙺𝙸𝙼𝙸𝚉𝙳𝙰</p1>
        </div>
    </div>
    <div>
        <div class="hakButDiv">
            <button style="float:left;"class="hakBut" style="vertical-align:middle" onclick="redirect('/berkay')">Berkay Dervişoğlu</button>
            <button style="float: right;"class="hakBut" onclick="redirect('/ali')">Ali İhsan Sarı</button>
        </div>
    </div>
    <script src="static/app.js" type="text/JavaScript"></script>
</body>
</html>