<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TÜRKÇE PYTHON KURSU</title>
    <link rel="stylesheet" href="static/index.css" type="text/css">
    <link rel="icon" type="image/jpg" href="https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_960_720.jpg">
</head> 
<body>
    <div id="navbar">
        <button class="navBut" onclick="redirect('/hakkimizda')">Hakkımızda</button>
        <button class="navBut" onclick="redirect('/yardim')">Yardım</button>
        <button class="navBut" onclick="redirect('/blog')">Bloglar</button>
        <button class="navBut" onclick="redirect('/iletisim')">İletişim</button>
    </div>
    <div id="heading">
        <br>
        <br>
        <h1 class="light" style="text-align:center;font-size: 75px;">Python Kursu Türkçe</h1>
        <h1 class="light" style="text-align:center;">Ali İhsan Sarı || Berkay Dervişoğlu</h1>
    </div>
    <div>
    </div>
    <!--
    <div class="daypinput">
        <form action="/" method="POST"> 
            <p1 class="light">Adınız ve Soyadınız:</p1><br>
            <input type="text" name="adsoyad"class="dayp"><br>
            <p1 class="light">Bize iletmmek istediğiniz herhangi bir öneri, dilek, şikayet vb durumlar için mesajınızı giriniz</p1><br>
            <input type="text" name="mesaj" class="dayp"><br>
            <button type="submit">Gönder</button>
        </form>
    </div>
    -->
    <script src="static/app.js" type="text/javascript"></script>
</body>
</html>